#!/bin/bash

# {{ ansible_managed }}

set -x

LOG_FILE="/var/log/concourse-worker-cleaner.log"

# Empty logfile to keep only the latest run
:>$LOG_FILE

# Display logs on stdout and save them into log file
exec &> >(tee -a ${LOG_FILE})

log() {
 echo "$(date) ${HOSTNAME} Worker-Cleaner[${$}]: ${USER} ${*}"
}

log "Starting ${0} script"

if command -v btrfs >/dev/null; then
  btrfs filesystem df "{{ concourse_work_dir }}" >/dev/null
  concourse_work_dir_btrfs_check=$?
  if [[ $concourse_work_dir_btrfs_check -eq 0 ]]; then
    if [[ $(btrfs subvolume list -a {{ concourse_work_dir }} | wc -l) -gt 0 ]]; then
      # the sort makes sub-subvolume (like docker ones) appears first, with an additional sed to remove annoying/useless <FS_TREE> string in the path
      btrfs subvolume list -a {{ concourse_work_dir }} | awk '{print $9}' | sort | xargs -n 1 btrfs subvolume delete
    fi
  fi
fi

# Removing files inside this directory in case the directory itself is a mountpoint
rm -rf {{ concourse_work_dir }}/*

# Removing all Concourse logs files
rm -f /var/log/concourse-worker.log /var/log/daemon.*

log "Ending ${0} script"
