# {{ ansible_managed }}

[Unit]
Description=concourse-worker-watchdog
Requires=network-online.target
PartOf=concourse-worker.service
After=concourse-worker.service

[Service]
ExecStart={{ concourse_install_dir }}/concourse-worker-watchdog
Restart=on-failure

[Install]
WantedBy=multi-user.target
