#!/bin/sh

# {{ ansible_managed }}

exec {{ concourse_install_dir }}/concourse worker \
  --tsa-host "{{ concourse_tsa_host }}:{{ concourse_tsa_port }}" \
  --tsa-public-key {{ concourse_tsa_public_key_path }} \
  --tsa-worker-private-key {{ concourse_tsa_worker_key_path }} \
  --name {{ concourse_worker_name }} \
  --work-dir {{ concourse_work_dir }} \
  {% if concourse_worker_tag is defined %}--tag {{ concourse_worker_tag }}{% endif %} \
  {% if concourse_worker_team is defined %}--team {{ concourse_worker_team }}{% endif %} \
  {{ concourse_worker_options }}
