#!/bin/sh

# {{ ansible_managed }}

# Do we need to while on it ? `while ! concourse retire-worker --name=${HOSTNAME} | grep -q worker-not-found; do`
exec {{ concourse_install_dir }}/concourse retire-worker \
  --tsa-host "{{ concourse_tsa_host }}:{{ concourse_tsa_port }}" \
  --tsa-public-key {{ concourse_tsa_public_key_path }} \
  --tsa-worker-private-key {{ concourse_tsa_worker_key_path }} \
  --name {{ concourse_worker_name }}
