#!/bin/bash

# {{ ansible_managed }}

{% for key, value in concourse_worker_env.items() %}
export {{ key }}="{{ value }}"
{% endfor %}

# If $1 PID of concourse worker is provided, do a kill instead of an api call
# Mostly used by systemd for concourse compatiility issues https://github.com/concourse/concourse/pull/3929

until ! curl --silent --fail 127.0.0.1:7777/ping; do

  if [[ -z "$1" ]]; then
    {{ concourse_binary_path }} retire-worker \
      --tsa-host "{{ concourse_tsa_host }}:{{ concourse_tsa_port }}" \
      --tsa-public-key {{ concourse_tsa_public_key_path }} \
      --tsa-worker-private-key {{ concourse_tsa_worker_key_path }} \
    {% if concourse_worker_team is defined %}--team {{ concourse_worker_team }}{% endif %} \
      --name {{ concourse_worker_name }}
  else
    pkill --signal SIGUSR2 -g $1
  fi

  sleep 10
done
