# {{ ansible_managed }}

[Unit]
Description=concourse-worker
Requires=network-online.target
After=network-online.target
Wants=concourse-worker-watchdog.service
Before=concourse-worker-watchdog.service

[Service]
ExecStart={{ concourse_worker_launcher_path }}
ExecStop={{ concourse_retire_worker_path }} $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s
LimitNPROC=infinity
LimitNOFILE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process

## Watchdog
WatchdogSec={{ concourse_worker_watchdog_sec }}
NotifyAccess=main
{% if concourse_worker_watchdog_terminate_on_repeating_start_failure|bool %}
# If there is `StartLimitBurst` failed restart attempt
# within `StartLimitInterval` then force poweroff
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=poweroff-force
{% endif %}

[Install]
WantedBy=multi-user.target
